<% include header %>
	
<% include adminnav %>

<div id="page">
<center>
<h1>Add Category Here!!!</h1>		
<br>
<font color="orange"><%= output %></font>

<form method='post' action='/admin/addcat' enctype="multipart/form-data">
<table  cellspacing='10'>
	<tr>
		<td>Category Name</td>
		<td><input type="text" name="catnm" placeholder="Enter Category Name" /></td>	
	</tr>
	<tr>
		<td>Category Icon</td>
		<td><input type="file" name="caticon"/></td>	
	</tr>
	<tr>
		<td><input type='submit' value='Add Category' /></td>	
	</tr>
</table>
</form>

</center>
</div>
<!-- page ends -->


</div>
<!-- wrapper ends -->



<% include footer %>


