<div id="menu">
		<ul>
				<li class="first"><a href="/admin">Admin Home</a></li>
				<li><a href="/admin/viewusers">View Users</a></li>
				<li><a href="">Order & Payments</a></li>
				<li>
				<span class="opener">Manage<b></b></span>
				<ul>
					<li><a href="/admin/addcat">Add Category</a></li>
					<li><a href="#">Manage Category</a></li>
					<li><a href="/admin/addsubcat">Add Sub Category</a></li>
					<li><a href="#">Manage Sub Category</a></li>
					<li><a href="#">Manage Products</a></li>
					
				</ul>
				</li>
				
				<li>
				<span class="opener">Others<b></b></span>
				<ul>
					<li><a href="#">Edit Profile</a></li>
					<li><a href="#">Change Password</a></li>
					<li><a href="#">Launch Notifications</a></li>
					<li><a href="#">View Feedbacks</a></li>
					
				</ul>
				</li>
				
			<li class="last"><a href="/login">Logout</a></li>
		</ul>
		<br class="clearfix" />
	</div>
	<!-- menu ends -->
<b>Welcome : <%= sunm %></b>	
	
