<% include header %>
	
<% include nav %>

<% include slider %>


<div id="page">
		
		
<div id="content">
<div class="box">
<h2>Login here!!!</h2>
	
<font color="orange"><%= output %></font>

<form method='post' action='/login'>
<table  cellspacing='10'>
	<tr>
		<td>Username/EmailID</td>
		<td><input type="text" name="email" placeholder="Enter EmailID" /></td>	
	</tr>
	<tr>
		<td>Password</td>
		<td><input type="password" name="password" placeholder="Enter Password" /></td>	
	</tr>
	<tr>
		<td><input type='checkbox' name=''/> Remember me? </td>	
	</tr>
	<tr>
		<td><input type='submit' value='Login' /></td>	
	</tr>
</table>
</form>	
	
	
</div>
<br class="clearfix" />
</div>
<!-- content ends -->


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">LinkedIn</a></li>
					<li class="last"><a href="#">Gmail</a></li>
				</ul>
			</div>
			
		</div>
		<!-- sidebar ends -->	


		<br class="clearfix" />
	</div>
	<!-- page ends -->
</div>
<!-- wrapper ends -->

<% include footer %>


