<div id="page">
		
		
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Login Page</a></h2>
				<div class="entry">
					<p>
						
						Pellentesque ornare, consectetuer nisl felis ac diam. Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. Mauris vitae nisl nec metus placerat consectetuer. </p>
				</div>
			</div>
			
		</div>
		<!--content ends -->

		<div id="sidebar">
			<ul>
				<li>
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Latest News</a></li>
						<li><a href="#">Latest Events</a></li>
						<li><a href="#">New Categories</a></li>
						<li><a href="#">Offers</a></li>
						<li><a href="#">View Deals</a></li>
					</ul>
				</li>
			
			</ul>
		</div>

		<!--sidebar ends -->
		
	</div>
