<% include header %>
	
<% include nav %>

<% include slider %>


<div id="page">
		
		
		<div id="content">
			<div class="box">
				<h2>Welcome to Bidding Web Solution</h2>
				<h3>About page</h3>
				<!-- Write your content here -->

			</div>
			<br class="clearfix" />
		</div>
		<!-- content ends -->


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">LinkedIn</a></li>
					<li class="last"><a href="#">Gmail</a></li>
				</ul>
			</div>
			
		</div>
		<!-- sidebar ends -->	


		<br class="clearfix" />
	</div>
	<!-- page ends -->
</div>
<!-- wrapper ends -->

<% include footer %>


