<div id="menu">
		<ul>
				<li class="first"><a href="/user">User Home</a></li>
				<li><a href="/user/addproduct">Add Products</a></li>
				<li><a href="">View Own Products</a></li>
				<li>
				<span class="opener">Manage<b></b></span>
				<ul>
					<li><a href="#">View Buying Product</a></li>
					<li><a href="#">Bidding Status</a></li>
					<li><a href="#">Order & Payment List</a></li>
	
		
					
				</ul>
				</li>
				
				<li>
				<span class="opener">Others<b></b></span>
				<ul>
					<li><a href="#">Edit Profile</a></li>
					<li><a href="#">Change Password</a></li>
					<li><a href="#">View Notifications</a></li>
					<li><a href="#">Launch Feedbacks</a></li>
					
				</ul>
				</li>
				
			<li class="last"><a href="/login">Logout</a></li>
		</ul>
		<br class="clearfix" />
	</div>
<b>Welcome : <%= sunm %></b>		
	<!-- menu ends -->
